@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/spaceGrotesk-variable.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* register font */
:root {
  --font-base: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Universal body styles*/
body {
  font-family: var(--font-base);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Utility class for section headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* Body scrollbar smooth */
html {
  scroll-behavior: smooth;
}

/* Global horizontal layout padding */
.container-page {
  @apply  px-8 sm:px-10 lg:px-12 mx-auto max-w-[1350px];
}

@layer utilities {
  .bg-base {
    @apply bg-[#fdfbf7];
    /* @apply bg-[#f5efe6]; */
    /* @apply bg-[#f5d189];  */
  }

  .bg-base-200 {
    @apply bg-[#f2eee3];

  }

  .bg-base-300 {
    @apply bg-[#fdfbf7b2];

  }

  .bg-surface {
    @apply bg-white
  }  

  .section-title {
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900;
  }

  .section-subtitle {
    @apply text-lg sm:text-xl font-semibold text-gray-900;
  }

  .body-text {
     @apply text-base sm:text-lg  text-gray-700 leading-relaxed;
  }

  .footer-title {
    @apply text-xl sm:text-xl font-semibold text-gray-900;
  }

  .footer-text {
     @apply text-base sm:text-lg text-gray-700 leading-relaxed;  
  }

}
