@import "tailwindcss";
@import "tailwindcss/utilities";

/* register font */
:root {
  --font-space: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Universal body styles*/
body {
  font-family: var(--font-space);
  font-family: 'Space Grotesk', system-ui, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Anchor tag styles */
a {
  color: inherit;
  text-decoration: none;
}



/* Utility class for section headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}



/* Body scrollbar smooth */
html {
  scroll-behavior: smooth;
}

/* Global horizontal layout padding */
.container-page {
  @apply  px-4 sm:px-10 lg:px-12 mx-auto max-w-[1350px];
}

@layer utilities {
  .bg-base {
    /* @apply bg-[#fdfbf7]; */
    /* @apply bg-[#f5efe6]; */
    @apply bg-[#f5d189]; 
  }

  .bg-surface {
    @apply bg-white
  }  

  .section-title {
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900;
  }

  .section-subtitl {
    @apply text-lg sm:text-xl font-semibold text-gray-900;
  }

  .body-text {
     @apply text-base sm:text-lg  text-gray-700 leading-relaxed;
  }

  .footer-title {
    @apply text-lg sm:text-xl font-semibold text-gray-900;
  }

  .footer-text {
     @apply text-sm sm:text-base text-gray-600 leading-relaxed;  
  }



}
